{% extends 'App/base.html' %}
{% load static %}

    {% block content %}

    <div class="title">
        <h1>Create Job Listing</h1>
    </div>


    <form method="POST" action="{% url 'create_job_listing' %}">
        {% csrf_token %}
        <!-- Include your input fields for job_position, tech_stack, company_name, company_values here -->
        <div class="row-wrapper">
            <div class="row g-3">
                <div class="col-sm">
                    <input type="text" class="form-control" name="job_position" placeholder="Job Position" aria-label="Job Position">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" name="tech_stack" placeholder="tech stack" aria-label="tech_stack">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" name="company_name" placeholder="company name" aria-label="company_name">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" name="company_values" placeholder="company values" aria-label="company_values">
                </div>
                <div class="col-12 btn-wrapper"> <!-- Use col-sm-auto to make the button take the necessary width -->
                    <button type="submit" class="btn btn-primary">Generate Job Listing</button>
                </div>
            </div>
        </div>
    </form>

    <div class="text-area-wrapper">
        <form method="POST" action="{% url 'save_textarea' %}" style="display: contents;">
            {% csrf_token %}
            <label for="job_listing"></label><textarea class="form-control job-listing-textarea custom-width" name="textarea_content" id="job_listing" rows="3">
                {% if job_listing %}
                    {{ job_listing }}
                {% endif %}
            </textarea>
            <button type="submit">Save</button>
        </form>
    </div>


    {% endblock content %}