{% extends 'App/base.html' %}
{% load static %}

{% block content %}
    <article id="content-wrapper">

        <div class="title-container custom-title">
            My Job Listings
        </div>


        <div class="table-container">
            <table class="table table-striped table-hover align-middle custom-table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in listings %}
                    <tr>
                        <td>{{ job.job_title }}</td>
                        <td>{{ job.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>


{% endblock content %}











