

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.custom-width {
  max-width: 500px; /* Set your desired maximum width */
  width: 100%; /* Ensure the textarea expands to fill the available width */
  resize: horizontal; /* Optional: Allow horizontal resizing */
}

.text-area-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 30rem;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

