

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.custom-width {
    max-width: 500px; /* Set your desired maximum width */
    width: 100%; /* Ensure the textarea expands to fill the available width */
    resize: horizontal; /* Optional: Allow horizontal resizing */
    max-height: 40rem;
    height: 100%;
}

.text-area-wrapper {
    display: flex;
    flex-direction: column; /* Change the flex-direction to column */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    margin-top: 60px;
    height: 33rem;
}

.btn-primary:hover {
    box-shadow: 0 0 5px lightskyblue; /* Add a box shadow effect on hover */
}

.button-container {
    margin-top: 1rem; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}



#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-title {
    font-size: 43px;
    padding: 68px;
}

.table-container {
    overflow-y: auto;
    max-height: 40rem;
    position: relative;
}

.custom-table {
    margin: 0 auto;

}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.table-container::-webkit-scrollbar {
    display: none;
}


