

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.custom-width {
  max-width: 500px; /* Set your desired maximum width */
  width: 100%; /* Ensure the textarea expands to fill the available width */
  resize: horizontal; /* Optional: Allow horizontal resizing */
}

.text-area-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 30rem;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
}

.custom-title {
    font-size: 43px;
    padding: 68px;
}

.table-container {
    overflow-y: auto;

}


.custom-table {
    margin: 0 auto;

}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.table-container::-webkit-scrollbar {
    display: none;
}

